body {

}

.hero-image {
background-image: url(space.jpg);
height: 100%;
background-position: center;
background-repeat: no-repeat; 
background-size: cover;
position: relative;
}

.hero-text {
    font-family: "Exo 2", sans-serif;
    color:antiquewhite
}